body{
background-color: sandybrown;
text-align: center;
</body>
}
h1{
  font-family: 'Amaranth';font-size: 40px;
  text-align: center;

}
h2{
    font-family: 'Armata';
}
 h3{
   font-family: 'Armata';font-size: 13px;
 }
 h4{
   font-family: 'Armata';font-size: 15px;
 }
