body{
  background-color:Orange;
  text-align: center;
}

h1{
  color:white;
  font-size:30px;
}
h5{
  font-weight: normal;
  font-size: 15px;
}
h10{
  color:white;
  font-size:30px;
}
h12{
  font-size: 20px;
}
h13{
  font-family: 'Amaranth';
  font-size: 35px;
}
h14{
  margin-left:-70%;
  position:absolute;
  top:110px;
}
h15{
  margin-left:25%;
  position:absolute;
  top:110px;
}
